<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Waitstaff App</title>
    <link rel="stylesheet"
      href="./bower_components/bootstrap/dist/css/bootstrap.css" 
      type="text/css" media="screen" charset="utf-8">
      <script src="./bower_components/angular/angular.js" type="text/javascript">
      </script>
      <script src="./waitstaff.js" type="text/javascript"></script>
  </head>
  <body ng-app="Waitstaff" ng-controller="WaitstaffCtrl">
    <div class="container">
      <h1>Waitstaff App</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Enter the Meal Details</div>
            <div class="panel-body">
              <form ng-submit="onSubmit($event)" class="form-horizontal">

                <div class="form-group">
                  <label for="meal-price" class="control-label col-sm-3">
                    Base Meal Price
                  </label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input ng-model='mealprice'
                      id="meal-price" class="form-control" 
                      type="number" placeholder="0.00">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tax-rate" class="control-label col-sm-3">
                    Tax Rate
                  </label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <span class="input-group-addon">%</span>
                      <input ng-model="taxrate"
                      id="tax-rate" class="form-control" 
                      type="number" placeholder="0">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tip-rate" class="control-label col-sm-3">
                    Tip Percentage
                  </label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <span class="input-group-addon">%</span>
                      <input ng-model="tiprate"
                      id="tip-rate" class="form-control" 
                      type="number" placeholder="0">
                    </div>
                  </div>
                </div>

                <div class="col-md-6 text-center">
                  <button 
                    class="btn btn-default" type="submit" aria-label="Submit">
                    Submit
                  </button>
                  <button 
                    class="btn btn-danger" type="button" aria-label="Cancel">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Customer Charges</div>
            <table class="table">
              <tr>
                <td>Subtotal</td>
                <td>{{ subtotal() }}</td>
              </tr>
              <tr>
                <td>Tip</td>
                <td>{{ tip() }}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>{{ total() }}</td>
              </tr>
            </table>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">My Earnings Info</div>
            <table class="table">
              <tr>
                <td>Tip Total</td>
                <td>0.00</td>
              </tr>
              <tr>
                <td>Meal count</td>
                <td>0.00</td>
              </tr>
              <tr>
                <td>Average Tip per Meal</td>
                <td>0.00</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
